#submit-button {
border: none;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 0.6em;
  margin-inline-start: 10px;
  background: #ffff;
}
#search-bar {
 padding: 0.8rem;
  border-radius: 10px;
  border: none;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}